:root {
  --white: #ffffff;
  --off-white: #f8f8f8;
  --light-gray: #e8e8e8;
  --primary: #183153;
  --accent: #4c6ef5;
  --accent-hover: #29abb9;
  --text: #444444;
  --text-light: #44444422;
  --transparent: #00000000;
  --button-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --button-shadow-hover: 0 2px 12px rgba(0, 0, 0, 0.2);
  --button-shadow-hover-offset: 0 0 10px -2px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #23232e;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #23232e;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6a6a8a;
}

body {
  background-color: #23232e;
}

.sidebar {
  background-color: #23232e;
}

.open-conversation {
  background-color: #23232e;
  background-color: #2e2e3c;
  border-radius: 16px;
}

.list-group-item {
  color: #6a6a8a;
  background-color: #23232e;
  border-left: 5px solid var(--transparent);
}

.list-group-item.active {
  border: none;
  border-left: 5px solid var(--accent);
  background-color: #4c6ef522;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: var(--white);
  background-color: #4c6ef522;
}

.nav-tabs {
  border-color: var(--transparent);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  color: var(--white);
  background-color: #4c6ef522;
}

.nav-item a {
  color: #ababbe;
}

.btn-primary,
.bg-primary {
  background-color: var(--accent) !important;
  border-color: var(--accent);
}

.btn-primary:hover {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.btn-rounded {
  border-radius: 10px;
}

.text-muted {
  color: #6a6a8a !important;
}

.sidebar .sidebar-content {
  display: none !important;
}

.sidebar .sidebar-content.sidebar-content-open {
  display: block !important;
}

.sidebar .sidebar-content.sidebar-content-closed {
  display: none !important;
}

.open-conversation {
  height: calc(100vh - 65px);
}

#hamburger-icon {
  background-color: #00000000;
  border: none;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--light-gray);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2),
#hamburger-icon span:nth-child(3) {
  top: 9px;
}

#hamburger-icon span:nth-child(4) {
  top: 18px;
}

#hamburger-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

@media (min-width: 600px) {
  .grid-layout {
    display: grid;
    grid-template-columns: minmax(250px, 25%) 1fr;
  }

  #hamburger-icon {
    display: none;
  }

  .open-conversation {
    height: auto;
  }

  .sidebar .sidebar-content {
    display: block !important;
  }

  .sidebar .sidebar-content.sidebar-content-open {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
  }

  .sidebar .sidebar-content.sidebar-content-closed {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
  }
}

.user-name-header {
  background-color: #23232e;
  box-shadow: var(--button-shadow);
}

.chat-item {
  max-width: 250px;
}

.chat-incoming {
  color: var(--white);
  background-image: linear-gradient(to bottom right, #39394c, #4a4a61);
  border-radius: 10px;
  animation: chatIncoming ease-out 1s;
}

.chat-outgoing {
  color: var(--white);
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  animation: chatOutgoing ease-out 1s;
}

@keyframes chatOutgoing {
  0% {
    transform: scale(0.8) translateX(-20px);
    opacity: 0;
  }
  30% {
    transform: scale(1) translateX(-20px);
  }
  50% {
    transform: scale(0.95) translateX(-20px);
    opacity: 1;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes chatIncoming {
  0% {
    transform: scale(0.8) translateX(20px);
    opacity: 0;
  }
  30% {
    transform: scale(1) translateX(20px);
  }
  50% {
    transform: scale(0.95) translateX(20px);
    opacity: 1;
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}
